In [3]:
##if and else statements
age = 15
if age >= 18:
    print('you are allowed to vote in the elections')
else:
    print('you are a minor')

you are a minor

In [4]:
##elif statement allows you to check for multiple conditions

age = 20

if age < 13:
    print('you are a child')
elif age < 18:
    print('you are a teenager')
else:
    print('you are ab adult')

you are ab adult

In [8]:
##nested conditional statements

num = int(input('enter number'))

if num >0:
    print('number is positive')
    if num%2==0:
        print('number is even')
    else:
        print('number is odd')

elif num < 0:
    print('number is negative')

else:
    print('number is zero')

number is zero

In [17]:
#year is leap year using nested condition statements

year = int(input('enter the year to check leap year or not'))

if year > 0:
    if year%4==0:
        if year%100 ==0:
            if year%400 == 0:
                print(f'{year} is leap year')
            else:
                print('not a leap year')
        else:
            print(f'{year} is a leap year')

    else:
        print('not a leap year not divisible by 4')

2024 is a leap year

In [24]:
##Simple calculator program 

n1 = float(input('enter the number1'))
n2 = float(input('enter the number2'))

operation = input('enter symbol for operation + , - , * , / , %')

if operation == '+':
    print(n1+n2)

elif operation == '-':
    print(n1-n2)

elif operation == '*':
    print(n1*n2)

elif operation == '/':
    if n2!= 0:
        print(n1/n2)
    else:
        print('infinity')

elif operation == '%':
    print(n1%n2)

else:
    print('enter right number or right operation required')

infinity

In [25]:
## determine the ticket price based on age and whether the person is a student.

age = int(input('enter the age of student'))
price = '$25'

if age < 10:
    price  = '$5'
    print(f'person is child_student and {price} is the price of ticket')

elif age >13 and age <=18:
    price='$12'
    print(f'person is teenager_student and {price} is the price of ticket')

elif age > 18 and age <=21:
    price = '$18'
    print(f'person is grad and {price} is the price of ticket')

else:
    print(price)

person is teenager_student and $12 is the price of ticket

In [28]:
##LOOPS 
#for loop

for i in range(1,6):
    print(i)

1
2
3
4
5

In [30]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [31]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [32]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [35]:
##strings
st = "anurag"

for i in st:
    print(i)

a
n
u
r
a
g

In [38]:
##while loop
count = 0
while count<5:
    print(count, end=' ')
    count+=1

0 1 2 3 4

In [39]:
count = 0
while count%2 == 0:
    print(count)
    count+=1

0

In [45]:
##Loop control statements 

#break statement -> exits the loop prematurely 

for i in range(10):
    if i==5:
        break;
    print(i)

0
1
2
3
4

In [46]:
##continue 

for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [47]:
## pass 
## it is a null operation and it does nothing 

for i in range(10):
    if i == 3:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
## nested loops 
## a loop inside a loop

for i in range(3):
    for j in range(3):
        for k in range(2):
            print(f"i:{i} and j:{j} and k:{k}")

i:0 and j:0 and k:0
i:0 and j:0 and k:1
i:0 and j:1 and k:0
i:0 and j:1 and k:1
i:0 and j:2 and k:0
i:0 and j:2 and k:1
i:1 and j:0 and k:0
i:1 and j:0 and k:1
i:1 and j:1 and k:0
i:1 and j:1 and k:1
i:1 and j:2 and k:0
i:1 and j:2 and k:1
i:2 and j:0 and k:0
i:2 and j:0 and k:1
i:2 and j:1 and k:0
i:2 and j:1 and k:1
i:2 and j:2 and k:0
i:2 and j:2 and k:1

In [55]:
##Examples - calculate the sum of 1st N natural numbers using a while and for loop

##using while loop

n = int(input('enter the n natural number value'))
count=0

while n > 0:
    count = count+n
    n=n-1

print(count)

55

In [57]:
#sum of n natural numbers using for loop

n = int(input('enter the n natural number value'))
count = 0

for i in range(n+1):
    count=count+i

print(count)

55

In [66]:
##Example 2 :- Prime numbers between 1 and 100


for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break;
        else:
            print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 74