In [20]:
li = []
for i in range(1,21):
    li.append(i)

print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
print(li[0], li[9], li[19])

1 10 20

In [15]:
print(li[0:5])
print(li[15:])
print(li[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [19]:
li2 = [i**2 for i in range(21)]
print(li2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [26]:
li_even = [x for x in li if x%2 == 0]

li_even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
li = [
    [1,2,3],
    [4,5,6],
    [6,7,8]
]

x = li[1][2]
print(x)

6

In [19]:
##Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'.
#  Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

dict1 = [{'name':'anurag', 'score': 6.5},
         {'name':'vijay', 'score': 7},
         {'name':'karthik','score': 7.5},
         {'name':'venkat','score': 43},
          {'name':'madhu','score':32},
          {'name':'raj','score':12}
          ]

dict1.sort(key = lambda dict1 : dict1['score'], reverse=True)
dict1

[{'name': 'venkat', 'score': 43},
 {'name': 'madhu', 'score': 32},
 {'name': 'raj', 'score': 12},
 {'name': 'karthik', 'score': 7.5},
 {'name': 'vijay', 'score': 7},
 {'name': 'anurag', 'score': 6.5}]

In [27]:
tranpose_matrix =  list(zip(*li))

for row_t in tranpose_matrix:
    print(row_t)

for row in li:
    print(row)

(1, 4, 6)
(2, 5, 7)
(3, 6, 8)
[1, 2, 3]
[4, 5, 6]
[6, 7, 8]

In [36]:
def flatten_list(li):
    flat_list = []

    for num in li:
        if isinstance(num,list):
            flat_list.extend(flatten_list(num))
        else:
            flat_list.append(num)

    return flat_list



flat_built_list = flatten_list(li)
print(flat_built_list)

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [44]:
li2 = [num for num in range(1,11)]
li2[5] = 99
li2

arr = [9,10]
for i in arr:
        li2.append(i)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 9, 9, 9, 10]
[1, 2, 3, 4, 5, 99, 7, 8, 9, 10]

In [60]:
new_list = list(zip(li2, flat_built_list))
print(new_list)

[(1, 1), (2, 2), (3, 3), (4, 3), (5, 4), (99, 5), (7, 6), (8, 7), (9, 8), (10, 9), (9, 10), (10, 9), (9, 9), (10, 9), (12, 10)]

In [63]:
def reverse_funtion(li):
    li  = flat_built_list
    li = li[::-1]
    return li

reverse_list = reverse_funtion(flat_built_list)
print(reverse_list)

[10, 9, 9, 9, 10, 9, 8, 7, 6, 5, 4, 3, 3, 2, 1]

In [69]:
def rotation_list(rotate_list,n):
    rotate_list = flat_built_list[n:] + flat_built_list[:n]

    return rotate_list

rotate_built_list = rotation_list(flat_built_list,3)
print(flat_built_list)
print(rotate_built_list)

[1, 2, 3, 3, 4, 5, 6, 7, 8, 9, 10, 9, 9, 9, 10]
[3, 4, 5, 6, 7, 8, 9, 10, 9, 9, 9, 10, 1, 2, 3]

In [76]:
li1 = flatten_list(li)
print(li1)
print(li2)

[1, 2, 3, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 99, 7, 8, 9, 10, 9, 10, 9, 10, 12]

In [80]:
def intersection(li1,li2):
    new_li = []

    for n1 in li1:
        for n2 in li2:
            if n1 == n2:
                new_li.append(n2)

    return new_li

new_li = intersection(li1,li2)

In [82]:
new_li

[1, 2, 3, 3, 4, 5, 7, 8]