In [21]:
dict1 = {i:i**2 for i in range(1,11)}
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
#value of key 5 and remaining keys
print(f'{dict1[5]} is value of key 5')

for k in dict1.keys():  
        print(k)

25 is value of key 5
1
2
3
4
5
6
7
8
9
10

In [32]:
#adding key value pair 

dict1[11] = 121

In [34]:
del[dict1[1]]

print(dict1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [36]:
for keys,values in dict1.items():
        print(keys,values)

2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121

In [37]:
dict2 = {x:x**3 for x in range(1,11)}
print(dict2)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [46]:
dict_one = {i:i**2 for i in range(1,6)}
dict_two = {j:j**2 for j in range(6,11)}

new_dict = {**dict_one, **dict_two}

print(new_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [47]:
#Create a nested dictionary representing a student with keys 
# 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.

student_details = {'name':'anurag',
                   'age':26,
                   'grades':{
                       'math' : 'A',
                       'science' : 'A+',
                       'english' : 'A',
                   }
                }


print(student_details)

{'name': 'anurag', 'age': 26, 'grades': {'math': 'A', 'science': 'A+', 'english': 'A'}}

In [51]:
li = {i: [i*j for j in range(1,6)]for i in range(1,6)}
print(li)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [55]:
li2 = {i: (1, i**2)for i in range(1,6)}
print(li2)

{1: (1, 1), 2: (1, 4), 3: (1, 9), 4: (1, 16), 5: (1, 25)}

In [61]:
nums = {i:i**2 for i in range(1,6)}

li = nums.items()
li = list(li)
li

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [1]:
dict_sqares = {i:i**2 for i in range(1,11) if i%2==0}
dict_sqares

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [4]:
dict_num = {x:x**2 for x in range(1,6)}
c = 0

def swap(dict_num):
    swapped_dict = {value:key for key,value in dict_num.items()}
    return swapped_dict


print(swap(dict_num))

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [9]:
from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

In [42]:
def word_count(word):
   cnt_dict = {}
   for char in word:
      cnt_dict[char] = cnt_dict.get(char,0) + 1
   return cnt_dict

print(word_count('anurag'))

{'a': 2, 'n': 1, 'u': 1, 'r': 1, 'g': 1}

In [40]:
#### Assignment 15: Dictionary and JSON

# Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it.
import json 
   
# Define student_details dictionary
author_details ={ 
    'title':'svsc',
    "author" : "sathiyajith", 
    "year" : 2012, 
    "genre" : 'comedy'
} 
   
# Convert and write JSON object to file
with open("author.json", "w") as outfile: 
    json.dump(author_details, outfile)