In [8]:
n = 10

li = []
for i in range(1,n+1):
    li.append(i)

set1 = set(li)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
#adding and removing the number to set
set1.add(11)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [11]:
set1.remove(1)
print(set1)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [14]:
set11 = {1,2,3,4,5}
set2 = {2,4,6,8,10}

print(set11.union(set2))
print(set11.intersection(set2))
print(set11.difference(set2))
print(set11.symmetric_difference(set2))

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

In [18]:
set23 = {i**2 for i in range(1,11)}
print(set23)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [19]:
set1

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [20]:
even_set = {numbers for numbers in set1 if numbers%2==0}
print(even_set)

{0, 64, 100, 4, 36, 16}

In [24]:
dups = (1,2,3,4,4,5,6,7,8,6,2)
dups = set(dups)
dups

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
s1 = {1,2,3,4,5}
s2 = {1,2,3}

print(s1.issubset(s2))
print(s1.issuperset(s2))

False
True

In [28]:
fs = frozenset(s1)
print(fs)

frozenset({1, 2, 3, 4, 5})

In [32]:
l1 = list(s1)

l1.append(6)
print(set(l1))

{1, 2, 3, 4, 5, 6}

In [33]:
dic1 = {1:'anurag',2:'rachoti',3:'madmax'}
dic1

{1: 'anurag', 2: 'rachoti', 3: 'madmax'}

In [46]:
while set1:
    set1.pop()
    print(set1)

{4, 36, 100, 16, 49, 81, 25}
{36, 100, 16, 49, 81, 25}
{100, 16, 49, 81, 25}
{16, 49, 81, 25}
{49, 81, 25}
{81, 25}
{25}
set()