In [1]:
#ordered colletions of items whicha re immutable

 #tuples operations 

tup1 = (1,2,3,4,5,6)
mixed_tup = (1,'hello world',23,4,3.4)

combined_tuple = tup1 + mixed_tup
print(combined_tuple)

(1, 2, 3, 4, 5, 6, 1, 'hello world', 23, 4, 3.4)

In [3]:
mixed_tup = mixed_tup * 3

In [7]:
##Tuple methods
#count -> calculates the number of repetitions

mixed_tup.count(1)

3

In [8]:
#packing and unpacking tuples

packed_tuple =1,'Hell',3.24
print(packed_tuple)

(1, 'Hell', 3.24)

In [9]:
##unpacking tuple
a,b,c = packed_tuple
print(a,b,c)

1 Hell 3.24

In [10]:
##unpacking with *
numbers = (1,2,3,4,5)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4]
5

In [14]:
## Nested list

lst=[[1,2,3,4],[2,3,45,4.5],['hello','world','bye']]
lst[0][:3]

[1, 2, 3]

In [16]:
## Nested Tuple

lst=[[1,2,3,4],[2,3,45,4.5],('hello','world','bye')]
lst[2][:3]

('hello', 'world', 'bye')

In [19]:
nested_tuple = ((1,2,3),('a','b','c'),(True, False))

for sub_tuple in nested_tuple:
    for value in sub_tuple:
        print(value, end=' ')
    print()

1 2 3
a b c
True False