In [23]:
import sqlite3

In [24]:
#connection

connection = sqlite3.connect('mydatabase.db')
connection

In [25]:
cursor = connection.cursor()

In [26]:
##creating a table.
cursor.execute(''' 
Create Table If not Exists employees(
             id Integer Primary Key,
             name Text Not Null,
               age Integer,
               department Text Not Null
                )
''')


##COMMIT the changes 
connection.commit()

In [27]:
##creating a table.
cursor.execute(''' 
select * from employees
''')

In [28]:
###insert tha data in sqllite table
cursor.execute('''
Insert into employees(name, age, department)
               values('Krish',32,'data scientist')
''')


cursor.execute('''
Insert into employees(name, age, department)
               values('anurag',26,'data engineer')
''')


cursor.execute('''
Insert into employees(name, age, department)
               values('vj',26,'data engineer')
''')


cursor.execute('''
Insert into employees(name, age, department)
               values('kartik',21,'data analyst')
''')


connection.commit()

In [29]:
###
cursor.execute('Select * from employees')
rows=cursor.fetchall()

#printing the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'data scientist')
(2, 'anurag', 26, 'data engineer')
(3, 'vj', 26, 'data engineer')
(4, 'Krish', 32, 'data scientist')
(5, 'anurag', 26, 'data engineer')
(6, 'vj', 26, 'data engineer')
(7, 'kartik', 21, 'data analyst')

In [30]:
#update the data in the table.
cursor.execute('''
UPDATE employees
set age = 34
where name = 'Krish'
''')

connection.commit()

In [31]:
###
cursor.execute('Select * from employees')
rows=cursor.fetchall()

#printing the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'data scientist')
(2, 'anurag', 26, 'data engineer')
(3, 'vj', 26, 'data engineer')
(4, 'Krish', 34, 'data scientist')
(5, 'anurag', 26, 'data engineer')
(6, 'vj', 26, 'data engineer')
(7, 'kartik', 21, 'data analyst')

In [32]:
##deleting the data from the table.

cursor.execute('''
Delete from employees
where name = 'kartik'
''')

connection.commit()

In [33]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()

#printing the queried data
for row in rows:
    print(row)

(1, 'Krish', 34, 'data scientist')
(2, 'anurag', 26, 'data engineer')
(3, 'vj', 26, 'data engineer')
(4, 'Krish', 34, 'data scientist')
(5, 'anurag', 26, 'data engineer')
(6, 'vj', 26, 'data engineer')

In [46]:
#### working with sales data

connection = sqlite3.connect('sales_data.db')

cursor = connection.cursor()

##creating a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id Integer PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT)

''')

In [47]:
##INSERTING THE SALES DATA.
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product3', 150, 'East'),
    ('2023-01-04', 'Product4', 250, 'West'),
     ('2023-01-05', 'Product2', 300, 'North')
    ]


connection.commit()

In [48]:
cursor.executemany('''
insert into sales(date,product, sales, region)
                   values(?,?,?,?)

''', sales_data)


connection.commit()

In [50]:
cursor.execute('Select * from sales')
rows=cursor.fetchall()

#printing the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 150, 'East')
(4, '2023-01-04', 'Product4', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [51]:
##close
connection.close()